@import "tailwindcss";

@theme {
  --color-primary: #C55FFC;
  --color-light-accent: #EFDCF9;
  --color-dark: #323E42;
  --color-primary-dark: #7954A1; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .active-link {
    @apply text-dark underline underline-offset-4
  }
}

  :root {
    --text: #1d130b;
    --background: #f6ece4;
    --primary: #673c1e;
    --secondary: #dda478;
    --accent: #ce722c;
  }
  .dark {
    --text: #f4eae1;
    --background: #1b1109;
    --primary: #e1b798;
    --secondary: #874d22;
    --accent: #d37731;
  }
